[submodule "gnuradio"]
	path = gnuradio
	url = https://github.com/gnuradio/gnuradio.git
[submodule "volk"]
	path = volk
	url = https://github.com/gnuradio/volk.git
[submodule "bladeRF"]
	path = bladeRF
	url = https://github.com/Nuand/bladeRF
[submodule "hackrf"]
	path = hackrf
	url = https://github.com/greatscottgadgets/hackrf.git
[submodule "gr-osmosdr"]
	path = gr-osmosdr
	url = https://github.com/Nuand/gr-osmosdr.git
[submodule "gqrx"]
	path = gqrx
	url = https://github.com/gqrx-sdr/gqrx.git
