[submodule "gnuradio"]
	path = gnuradio
	url = https://github.com/gnuradio/gnuradio.git
[submodule "volk"]
	path = volk
	url = https://github.com/gnuradio/volk.git
[submodule "bladeRF"]
	path = bladeRF
	url = https://github.com/Nuand/bladeRF
[submodule "hackrf"]
	path = hackrf
	url = https://github.com/greatscottgadgets/hackrf.git
[submodule "gr-osmosdr"]
	path = gr-osmosdr
	url = https://github.com/Nuand/gr-osmosdr.git
[submodule "gqrx"]
	path = gqrx
	url = https://github.com/gqrx-sdr/gqrx.git
[submodule "SigDigger"]
	path = SigDigger
	url = https://github.com/BatchDrake/SigDigger.git
[submodule "suscan"]
	path = suscan
	url = https://github.com/BatchDrake/suscan.git
[submodule "sigutils"]
	path = sigutils
	url = https://github.com/BatchDrake/sigutils.git
[submodule "SuWidgets"]
	path = SuWidgets
	url = https://github.com/BatchDrake/SuWidgets.git
[submodule "SoapySDR"]
	path = SoapySDR
	url = https://github.com/pothosware/SoapySDR.git
[submodule "SoapyRTLSDR"]
	path = SoapyRTLSDR
	url = https://github.com/pothosware/SoapyRTLSDR.git
[submodule "SoapyHackRF"]
	path = SoapyHackRF
	url = https://github.com/pothosware/SoapyHackRF.git
[submodule "SoapyBladeRF"]
	path = SoapyBladeRF
	url = https://github.com/pothosware/SoapyBladeRF.git
[submodule "SoapyPlutoSDR"]
	path = SoapyPlutoSDR
	url = https://github.com/pothosware/SoapyPlutoSDR.git
[submodule "SoapyUHD"]
	path = SoapyUHD
	url = https://github.com/pothosware/SoapyUHD.git
[submodule "photonmap"]
	path = photonmap
	url = https://github.com/ckoval7/photonmap.git
[submodule "df-aggregator"]
	path = df-aggregator
	url = https://github.com/ckoval7/df-aggregator.git
[submodule "gnss-sdr"]
	path = gnss-sdr
	url = https://github.com/gnss-sdr/gnss-sdr.git
[submodule "dji_droneid"]
	path = dji_droneid
	url = https://github.com/proto17/dji_droneid.git
[submodule "libad9361-iio"]
	path = libad9361-iio
	url = https://github.com/analogdevicesinc/libad9361-iio.git
[submodule "libiio"]
	path = libiio
	url = https://github.com/analogdevicesinc/libiio.git
[submodule "gnss-sdr-monitor"]
	path = gnss-sdr-monitor
	url = https://github.com/acebrianjuan/gnss-sdr-monitor.git
[submodule "gps-sdr-sim"]
	path = gps-sdr-sim
	url = https://github.com/osqzss/gps-sdr-sim.git
[submodule "bladeGPS"]
	path = bladeGPS
	url = https://github.com/osqzss/bladeGPS.git
[submodule "signalserver_gui"]
	path = signalserver_gui
	url = https://github.com/thetacom/signalserver_gui.git
[submodule "inspectrum"]
	path = inspectrum
	url = https://github.com/miek/inspectrum.git
[submodule "urh"]
	path = urh
	url = https://github.com/jopohl/urh.git
[submodule "antsdr_dji_droneid"]
	path = antsdr_dji_droneid
	url = https://github.com/alphafox02/antsdr_dji_droneid.git
[submodule "antsdr_uhd"]
	path = antsdr_uhd
	url = https://github.com/MicroPhase/antsdr_uhd.git
[submodule "DroneSecurity"]
	path = DroneSecurity
	url = https://github.com/RUB-SysSec/DroneSecurity.git
[submodule "rtl-sdr"]
	path = rtl-sdr
	url = https://github.com/osmocom/rtl-sdr.git
[submodule "Artemis"]
	path = Artemis
	url = https://github.com/AresValley/Artemis.git
[submodule "gr-inspector"]
	path = gr-inspector
	url = https://github.com/gnuradio/gr-inspector.git
[submodule "uhd"]
	path = uhd
	url = https://github.com/EttusResearch/uhd.git
[submodule "Signal-Server"]
	path = Signal-Server
	url = https://github.com/W3AXL/Signal-Server.git
[submodule "kismet"]
	path = kismet
	url = https://github.com/kismetwireless/kismet.git
