[submodule "gnuradio"]
	path = gnuradio
	url = https://github.com/gnuradio/gnuradio.git
[submodule "volk"]
	path = volk
	url = https://github.com/gnuradio/volk.git
[submodule "bladeRF"]
	path = bladeRF
	url = https://github.com/Nuand/bladeRF
[submodule "hackrf"]
	path = hackrf
	url = https://github.com/greatscottgadgets/hackrf.git
[submodule "gr-osmosdr"]
	path = gr-osmosdr
	url = https://github.com/Nuand/gr-osmosdr.git
[submodule "gqrx"]
	path = gqrx
	url = https://github.com/gqrx-sdr/gqrx.git
[submodule "SigDigger"]
	path = SigDigger
	url = https://github.com/BatchDrake/SigDigger.git
[submodule "suscan"]
	path = suscan
	url = https://github.com/BatchDrake/suscan.git
[submodule "sigutils"]
	path = sigutils
	url = https://github.com/BatchDrake/sigutils.git
[submodule "SuWidgets"]
	path = SuWidgets
	url = https://github.com/BatchDrake/SuWidgets.git
[submodule "SoapySDR"]
	path = SoapySDR
	url = https://github.com/pothosware/SoapySDR.git
[submodule "SoapyRTLSDR"]
	path = SoapyRTLSDR
	url = https://github.com/pothosware/SoapyRTLSDR.git
[submodule "SoapyHackRF"]
	path = SoapyHackRF
	url = https://github.com/pothosware/SoapyHackRF.git
[submodule "SoapyBladeRF"]
	path = SoapyBladeRF
	url = https://github.com/pothosware/SoapyBladeRF.git
[submodule "SoapyPlutoSDR"]
	path = SoapyPlutoSDR
	url = https://github.com/pothosware/SoapyPlutoSDR.git
[submodule "SoapyUHD"]
	path = SoapyUHD
	url = https://github.com/pothosware/SoapyUHD.git
[submodule "photonmap"]
	path = photonmap
	url = https://github.com/ckoval7/photonmap.git
[submodule "df-aggregator"]
	path = df-aggregator
	url = https://github.com/ckoval7/df-aggregator.git
[submodule "gnss-sdr"]
	path = gnss-sdr
	url = https://github.com/gnss-sdr/gnss-sdr.git
